<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Splashpage>
			<version>0.1.0</version>
		</Magebuzz_Splashpage>
	</modules>
	<frontend>
		<translate>
			<modules>
				<Magebuzz_Splashpage>
					<files>
						<default>Magebuzz_Splashpage.csv</default>
					</files>
				</Magebuzz_Splashpage>
			</modules>
		</translate>
		<events>
      <controller_action_predispatch>
        <observers>
          <magebuzz_splash_controller_action_predispatch>
            <type>singleton</type>
            <class>splashpage/observer</class>
            <method>showSplashPage</method>
          </magebuzz_splash_controller_action_predispatch>
        </observers>
      </controller_action_predispatch>
    </events>
	</frontend>  
	<global>
		<models>
			<splashpage>
				<class>Magebuzz_Splashpage_Model</class>
			</splashpage>
		</models>
		<helpers>
			<splashpage>
				<class>Magebuzz_Splashpage_Helper</class>
			</splashpage>
		</helpers>
		<page>
			<layouts>
				<splash module="splashpage" translate="label">
					<label>Splash</label>
					<template>page/splash.phtml</template>
					<layout_handle>splash_page</layout_handle>
				</splash>					
			</layouts>
		</page>		
	</global>
	<default>
		<web>
			<splashpage>
				<is_active>0</is_active>
			</splashpage>
		</web>
	</default>
</config>